# Generating Point Transitivity Tables

## Transitivity Table for Linear Time Point Relations

The following code produces the transitivity table in <b>Figure 5 of Reich's 1994 paper</b>, <i>"Intervals, Points, and Branching Time"</i>:

In [1]:
def rel(x, y):
    """Return the relation between x and y."""
    if x < y:
        return "<"
    elif x > y:
        return ">"
    else:
        return "="

Initialize an empty table:

In [2]:
fig5 = {'<': {'<': set(), '=': set(), '>': set()},
        '=': {'<': set(), '=': set(), '>': set()},
        '>': {'<': set(), '=': set(), '>': set()}}

Choose the number of values, <b>n</b>, to generate all possible configurations of 3 points, a, b, & c.

(Actually, 3 will work fine, but to be sure, I've used 7 here.)

In [3]:
n = 7

In [4]:
for a in range(0, n):
    for b in range(0, n):
        for c in range(0, n):
            fig5[rel(a, b)][rel(b, c)].add(rel(a, c))

The following "table" is identical to that found in Figure 5 of [Reich, 1994]:

In [5]:
fig5

{'<': {'<': {'<'}, '=': {'<'}, '>': {'<', '=', '>'}},
 '=': {'<': {'<'}, '=': {'='}, '>': {'>'}},
 '>': {'<': {'<', '=', '>'}, '=': {'>'}, '>': {'>'}}}

## Transitivity Table for Branching Time Point Relations

<b>TODO</b>: Modify the function <b>rel</b>, defined above, so that it can handle left and right branching time.

## Transitivity Table for 2-Dimensional Point Relations

In [6]:
def rel2d(coord1, coord2):
    x1, y1 = coord1
    x2, y2 = coord2
    if x1 == x2:  # Vertically aligned
        if y1 == y2:
            return "EQ"  # coord1 equals coord2
        elif y1 < y2:
            return "S"  # coord1 south-of coord2
        else:
            return "N"  # coord1 north-of coord2
    elif x1 < x2:
        if y1 == y2:
            return "W"  # coord1 west-of coord2
        elif y1 < y2:
            return "SW"  # coord1 southwest-of coord2
        else:
            return "NW"  # coord1 northwest-of coord2
    else:
        if y1 == y2:
            return "E"  # coord1 east-of coord2
        elif y1 < y2:
            return "SE"  # coord1 southeast-of coord2
        else:
            return "NE"  # coord1 northeast-of coord2

In [7]:
tbl = {'S': {'S': set(), 'EQ': set(), 'N': set(),
             'SW': set(), 'W': set(), 'NW': set(),
             'SE': set(), 'E': set(), 'NE': set()
            },
       'EQ': {'S': set(), 'EQ': set(), 'N': set(),
              'SW': set(), 'W': set(), 'NW': set(),
              'SE': set(), 'E': set(), 'NE': set()
            },
       'N': {'S': set(), 'EQ': set(), 'N': set(),
             'SW': set(), 'W': set(), 'NW': set(),
             'SE': set(), 'E': set(), 'NE': set()
            },
       'SW': {'S': set(), 'EQ': set(), 'N': set(),
              'SW': set(), 'W': set(), 'NW': set(),
              'SE': set(), 'E': set(), 'NE': set()
            },
       'W': {'S': set(), 'EQ': set(), 'N': set(),
             'SW': set(), 'W': set(), 'NW': set(),
             'SE': set(), 'E': set(), 'NE': set()
            },
       'NW': {'S': set(), 'EQ': set(), 'N': set(),
              'SW': set(), 'W': set(), 'NW': set(),
              'SE': set(), 'E': set(), 'NE': set()
            },
       'SE': {'S': set(), 'EQ': set(), 'N': set(),
              'SW': set(), 'W': set(), 'NW': set(),
              'SE': set(), 'E': set(), 'NE': set()
            },
       'E': {'S': set(), 'EQ': set(), 'N': set(),
             'SW': set(), 'W': set(), 'NW': set(),
             'SE': set(), 'E': set(), 'NE': set()
            },
       'NE': {'S': set(), 'EQ': set(), 'N': set(),
              'SW': set(), 'W': set(), 'NW': set(),
              'SE': set(), 'E': set(), 'NE': set()
            }
      }

In [8]:
for x1 in range(0, n):
    for x2 in range(0, n):
        x = (x1, x2)
        for y1 in range(0, n):
            for y2 in range(0, n):
                y = (y1, y2)
                for z1 in range(0, n):
                    for z2 in range(0, n):
                        z = (z1, z2)
                        tbl[rel2d(x, y)][rel2d(y, z)].add(rel2d(x, z))

In [9]:
tbl

{'S': {'S': {'S'},
  'EQ': {'S'},
  'N': {'EQ', 'N', 'S'},
  'SW': {'SW'},
  'W': {'SW'},
  'NW': {'NW', 'SW', 'W'},
  'SE': {'SE'},
  'E': {'SE'},
  'NE': {'E', 'NE', 'SE'}},
 'EQ': {'S': {'S'},
  'EQ': {'EQ'},
  'N': {'N'},
  'SW': {'SW'},
  'W': {'W'},
  'NW': {'NW'},
  'SE': {'SE'},
  'E': {'E'},
  'NE': {'NE'}},
 'N': {'S': {'EQ', 'N', 'S'},
  'EQ': {'N'},
  'N': {'N'},
  'SW': {'NW', 'SW', 'W'},
  'W': {'NW'},
  'NW': {'NW'},
  'SE': {'E', 'NE', 'SE'},
  'E': {'NE'},
  'NE': {'NE'}},
 'SW': {'S': {'SW'},
  'EQ': {'SW'},
  'N': {'NW', 'SW', 'W'},
  'SW': {'SW'},
  'W': {'SW'},
  'NW': {'NW', 'SW', 'W'},
  'SE': {'S', 'SE', 'SW'},
  'E': {'S', 'SE', 'SW'},
  'NE': {'E', 'EQ', 'N', 'NE', 'NW', 'S', 'SE', 'SW', 'W'}},
 'W': {'S': {'SW'},
  'EQ': {'W'},
  'N': {'NW'},
  'SW': {'SW'},
  'W': {'W'},
  'NW': {'NW'},
  'SE': {'S', 'SE', 'SW'},
  'E': {'E', 'EQ', 'W'},
  'NE': {'N', 'NE', 'NW'}},
 'NW': {'S': {'NW', 'SW', 'W'},
  'EQ': {'NW'},
  'N': {'NW'},
  'SW': {'NW', 'SW', 'W'},
  'W': {'NW'},
  'NW': {'NW'},
  'SE': {'E', 'EQ', 'N', 'NE', 'NW', 'S', 'SE', 'SW', 'W'},
  'E': {'N', 'NE', 'NW'},
  'NE': {'N', 'NE', 'NW'}},
 'SE': {'S': {'SE'},
  'EQ': {'SE'},
  'N': {'E', 'NE', 'SE'},
  'SW': {'S', 'SE', 'SW'},
  'W': {'S', 'SE', 'SW'},
  'NW': {'E', 'EQ', 'N', 'NE', 'NW', 'S', 'SE', 'SW', 'W'},
  'SE': {'SE'},
  'E': {'SE'},
  'NE': {'E', 'NE', 'SE'}},
 'E': {'S': {'SE'},
  'EQ': {'E'},
  'N': {'NE'},
  'SW': {'S', 'SE', 'SW'},
  'W': {'E', 'EQ', 'W'},
  'NW': {'N', 'NE', 'NW'},
  'SE': {'SE'},
  'E': {'E'},
  'NE': {'NE'}},
 'NE': {'S': {'E', 'NE', 'SE'},
  'EQ': {'NE'},
  'N': {'NE'},
  'SW': {'E', 'EQ', 'N', 'NE', 'NW', 'S', 'SE', 'SW', 'W'},
  'W': {'N', 'NE', 'NW'},
  'NW': {'N', 'NE', 'NW'},
  'SE': {'E', 'NE', 'SE'},
  'E': {'NE'},
  'NE': {'NE'}}}