# Experiments with Point Tables

In [4]:
n = 3

In [7]:
def rel(x, y):
    if x < y:
        return "LT"
    elif x > y:
        return "GT"
    else:
        return "EQ"

In [12]:
tbl = {'LT': {'LT': set(), 'EQ': set(), 'GT': set()},
       'EQ': {'LT': set(), 'EQ': set(), 'GT': set()},
       'GT': {'LT': set(), 'EQ': set(), 'GT': set()}}

In [13]:
tbl

{'LT': {'LT': set(), 'EQ': set(), 'GT': set()},
 'EQ': {'LT': set(), 'EQ': set(), 'GT': set()},
 'GT': {'LT': set(), 'EQ': set(), 'GT': set()}}

In [9]:
for a in range(0, n):
    for b in range(0, n):
        for c in range(0, n):
            print(a, b, c)
            print(f"{rel(a, b)} {rel(b, c)}")

0 0 0
EQ EQ
0 0 1
EQ LT
0 0 2
EQ LT
0 1 0
LT GT
0 1 1
LT EQ
0 1 2
LT LT
0 2 0
LT GT
0 2 1
LT GT
0 2 2
LT EQ
1 0 0
GT EQ
1 0 1
GT LT
1 0 2
GT LT
1 1 0
EQ GT
1 1 1
EQ EQ
1 1 2
EQ LT
1 2 0
LT GT
1 2 1
LT GT
1 2 2
LT EQ
2 0 0
GT EQ
2 0 1
GT LT
2 0 2
GT LT
2 1 0
GT GT
2 1 1
GT EQ
2 1 2
GT LT
2 2 0
EQ GT
2 2 1
EQ GT
2 2 2
EQ EQ